<div class="container p-4">
  <div class="flex">
    <div class="w-1/2">
      <!-- Select for user dropdown -->
      <ng-container *ngIf="users$ | async as users">
        <mat-form-field class="w-full">
          <mat-label>Choose a user</mat-label>
          <mat-select (selectionChange)="onUserSelection($event)">
            <ng-container *ngFor="let user of users">
              <mat-option [value]="user.id">{{ user.name }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
    <div class="w-1/2">
      <mat-checkbox
        [disableRipple]="true"
        [(ngModel)]="filterList"
        [disabled]="todos().length === 0"
        (change)="filterTodos($event)"
        >Filter complete to-do items</mat-checkbox
      >
    </div>
  </div>
  <div
    class="container"
    [ngClass]="{
      'pointer-events-none': isFiltered()
    }"
  >
    <p>Total {{ isFiltered() ? "Completed" : "" }} To Dos {{ todos().length | json }}</p>
    <ng-container *ngFor="let todo of todos(); index as i">
      <div class="flex">
        <mat-checkbox [(ngModel)]="todo.completed" class="example-margin">{{ todo.title }}</mat-checkbox>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="isLoading()">
    <p>Loading to-dos ...</p>
  </ng-container>
</div>

