<nav>
  <a class="button" routerLink="/test" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Test App</a>
  <p class="inline-block !ml-4 !mr-4">|</p>
  <a class="button" routerLink="/todo" routerLinkActive="activeButton" ariaCurrentWhenActive="page">To-do App</a>
  <p class="inline-block !ml-4 !mr-4">|</p>
  <a class="button" routerLink="/todo-signals" routerLinkActive="activeButton" ariaCurrentWhenActive="page"
    >To-do Signals</a
  >
  <p class="inline-block !ml-4 !mr-4">|</p>
  <a class="button" routerLink="/user-search" routerLinkActive="activeButton" ariaCurrentWhenActive="page"
    >User Search</a
  >
</nav>
<hr />
<router-outlet></router-outlet>

